<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    

<app-navbar></app-navbar>
	<!-- main content -->
	<main class="main1">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Add Video</h2>
					</div>
				</div>
				<!-- end main title -->

				<!-- form -->
				<div class="col-12">
					<form  class="form" name="form" #Upload="ngForm" (ngSubmit)="onSubmit(Upload)">
						<div class="row">
							<div class="col-12 col-md-5 form__cover">
								<div class="row">
									<div class="col-12 col-sm-6 col-md-12">
										<div class="form__img">
											<label for="form__img-upload">Upload thumbnail</label>
											<input id="form__img-upload" name="thumbnail" placeholder="Upload thumbnail" type="file" (change)="onSelectFile($event)" [(ngModel)]="uploadVideo.thumbnail" (change)="thumbFile($event)" accept=".png, .jpg, .jpeg" required #thumbnail="ngModel">
											<img id="form__img" #urlImg [src]="url" alt=" ">
										</div>

										<div *ngIf="(thumbnail.touched || Upload.submitted)" class="invalid-feedback" style="margin-top:-20px;">
											<div *ngIf="thumbnail.errors?.['required']">Video Thumbnail is required**</div>	
										</div>

									</div>
								</div>
							</div>

							<div class="col-12 col-md-7 form__content">
								<div class="row">
									<div class="col-12">
										<div class="form__group">
											<input type="text" class="form__input" name="title" [(ngModel)]="uploadVideo.videoTitle" placeholder="Title" #title="ngModel" required>

											<div *ngIf="(title.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="title.errors?.['required']">Video Title is required**</div>	
											</div>

										</div>	
									</div>

									<div class="col-12">
										<div class="form__group">
											<textarea id="text" name="description" [(ngModel)]="uploadVideo.description" class="form__textarea"  placeholder="Description" required #description="ngModel"></textarea>

											<div *ngIf="(description.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="description.errors?.['required']">Video description is required**</div>	
											</div>

										</div>
									</div>

									<div class="col-12 col-sm-6 col-lg-4">
										<div class="form__group">
											<input type="text" class="form__input" name="releaseYear" [(ngModel)]="uploadVideo.releaseYear"  placeholder="Release year" required #releaseYear="ngModel">

											<div *ngIf="(releaseYear.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="releaseYear.errors?.['required']">Video releaseYear is required**</div>	
											</div>

										</div>
									</div>

									<!-- <div class="col-12 col-sm-6 col-lg-3">
										<div class="form__group">
											<input type="text" class="form__input" placeholder="Tags.." name="tag" [(ngModel)]="uploadVideo.tags" #tag="ngModel" required>

											<div *ngIf="(tag.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="tag.errors?.['required']">Video tag is required**</div>	
											</div>
										</div>
									</div> -->

									<div class="col-12 col-sm-6 col-lg-4">
										<div class="form__group">
											<select class="js-example-basic-single" [(ngModel)]="uploadVideo.quality" name="quality" #quality="ngModel" required  style="color:#fff; width:100%; background:#151f30; border: 1px solid transparent; outline: none; height:44px; border-radius: 16px; padding: 0 20px; font-size: 14px;" >
												<option value="" selected>-Quality-</option>
												<option value="FullHD">FullHD</option>
												<option value="HD">HD</option>
											</select>

											<div *ngIf="(quality.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="quality.errors?.['required']">Video quality is required**</div>	
											</div>

										</div>
									</div>
									<div class="col-12 col-sm-6 col-lg-4">
										<div class="form__group">
											<select class="js-example-basic-single" id="quality" name="genre"  [(ngModel)]="uploadVideo.genre" #genre="ngModel" required style="color:#fff; width:100%; background:#151f30; border: 1px solid transparent; outline: none; height:44px; border-radius: 16px; padding: 0 20px; font-size: 14px;">
												<option value="" selected>-Genre-</option>
												<option value="Action">Action</option>
												<option value="Animation">Animation</option>
												<option value="Comedy">Comedy</option>
												<option value="Crime">Crime</option>
												<option value="Drama">Drama</option>
												<option value="Fantasy">Fantasy</option>
												<option value="Historical">Historical</option>
												<option value="Horror">Horror</option>
												<option value="Romance">Romance</option>
												<option value="Science-fiction">Science-fiction</option>
												<option value="Thriller">Thriller</option>
												<option value="Western">Western</option>
												<option value="Otheer">Otheer</option>
											</select>

											<div *ngIf="(genre.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="genre.errors?.['required']">Video genre is required**</div>	
											</div>

										</div>
									</div>

									

									
									<!-- tags -->


									<div class="col-12">
										<div class="form__group">
											<mat-form-field class="example-chip-list" appearance="fill">
												
												<mat-chip-list #chipList aria-label="Fruit selection">
												  <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
													{{tag.name}}
													<button matChipRemove>
													  <mat-icon>cancel</mat-icon>
													</button>
												  </mat-chip>
												  <input placeholder="+Tags"
														 [matChipInputFor]="chipList"
														 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
														 [matChipInputAddOnBlur]="addOnBlur"
														 (matChipInputTokenEnd)="add($event)">
												</mat-chip-list>
											  </mat-form-field>
										</div>
									</div>

									<!-- tags -->

								</div>
							</div>

							
							
							<div class="col-12">
								<div class="row">
									<div class="col-12 col-lg-6">
										<div class="form__video">
											<label id="movie1" for="form__video-upload">Upload video</label>
											<input data-name="#movie1" id="form__video-upload" name="video" [(ngModel)]="uploadVideo.video" (change)="videoFile($event)" class="form__video-upload" type="file" accept="video/mp4,video/x-m4v,video/*" #video="ngModel" required>
										</div>

										<div *ngIf="(video.touched || Upload.submitted)" class="invalid-feedback" style="margin-top:-20px;">
											<div *ngIf="video.errors?.['required']">Video is required**</div>	
										</div>

									</div>

									<div class="col-12 col-lg-6">
										<div class="form__group form__group--link">
											<input type="text"  class="form__input" placeholder="Upload subtitle" name="subtitle" [(ngModel)]="uploadVideo.subtitle" #subtitle="ngModel" required>

											<div *ngIf="(subtitle.touched || Upload.submitted)" class="invalid-feedback">
												<div *ngIf="subtitle.errors?.['required']">Video subtitle is required**</div>	
											</div>

										</div>
									</div>

									<div class="col-12">
										<button type="submit" class="form__btn" name="publish" (click)="uploadVid()">publish</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
				<!-- end form -->
			</div>
		</div>
	</main>
	<!-- end main content -->

    <app-footer></app-footer>
