<app-navbar ></app-navbar>

<img class="wave" src="https://i.postimg.cc/sDG8zyXM/wave.png">
<div class="container">
  <div class="img">
    <img src="https://svgshare.com/i/JcM.svg">
  </div>
  <div class="login-content">
    <form class="login" #login="ngForm" >
      <img src="https://svgshare.com/i/Jcf.svg">
      <h2 class="title">User Login</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <!-- <h5>Username</h5> -->
          <input type="text" placeholder="Email" class="input" name="username" required #username="ngModel" [(ngModel)]="userLogin.email" ngModel>
          </div>
      </div>

      <div *ngIf="(username.touched || login.submitted)" class="invalid-feedback" style="margin-top:-20px;">
        <div  *ngIf="username.errors?.['required']"> Email is required**</div>	
      </div>

      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <!-- <h5>Password</h5> -->
          <input type="password" placeholder="Password" class="input"  name="password" required #password="ngModel" [(ngModel)]="userLogin.password" ngModel>
        </div>
      </div>

      <div *ngIf="(password.touched || login.submitted)" class="invalid-feedback" style="margin-top:-20px;">
        <div *ngIf="password.errors?.['required']"> Password is required**</div>	
      </div>


      <a href="#">Forgot Password?</a>
      <input type="submit" class="btn"  name="submit" style="font-weight: bold;" (click)="loginUsers()"  value="Login">
      <h2>OR</h2>
      <a style="margin-right:100px;color: rgb(255, 104, 16);">Dont have Account?</a>
      <a class="btn" routerLink="../signup" style="text-align: center;padding-top: 10px;color: rgb(255, 255, 255);font-weight: bolder;text-transform: none;">Create Your Account</a>
    </form>
  </div>
</div>